<html>
  <head>
    <title>Assessment 4: Shoe Store & Brand Database</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Local Shoe Stores</h1>
      <h3><a href="/stores">Store List</a></h3>
      <h3><a href="/brands">Brand List</a></h3>
    </div>
  </body>
</html>
