<html>
    <head>
        <title>Assessment 4: Shoe Store & Brand Database</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
        <h1>Shoe Store List</h1>

        <p>Add a new store</p>

        <form action="/stores" method="post">
            <label for="name">Store name:</label>
            <input id="name" name="name" type="text">

            <label for="address">Store address:</label>
            <input id="address" name="address" type="text">

            <button type="submit">Add store</button>
        </form>

        {% if stores is not empty %}
            <p>Here are all nearby stores:</p>
            <ul>
                {% for store in stores %}
                    <li><a href="/stores/{{ store.getId }}">{{ store.getName }}</a></li>
                {% endfor %}
            </ul>

            <form action='/delete_stores' method='post'>
                <button type='submit'>Clear</button>
            </form>

        {% else %}
            <p>There are no stores yet!</p>
        {% endif %}

            <p><a href='/'>Home</a></p>

        </div>
    </body>
</html>
